* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #333;
  }
  
header {
  margin-top: 0;
  margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c3e50;
    padding: 20px;
  }
  
nav ul {
    display: flex;
    list-style: none;
  }
  
nav li {
    margin-right: 20px;
  }
  
nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
nav a:hover {
    color: #ecf0f1;
  }
  

  .banner {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('imagens/BANNER.png');
    background-size: cover;
    background-position: center;
    height: 180px; 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  
.banner_img {
  height: 100%;
}
  
.banner_text {
  opacity: 0.8;
  width: 30%;
  min-width: 150px;
  max-width: 320px;
  margin-right: 80px;
}

#portfolio{
  display: flex;
  justify-content: center;
  margin: 5%;
}


.grids{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 50px;
  font-size: 50px;
}

.grids_item{
  width: 180px;
  min-width: 20px;
  height: 180px;
  border-radius: 50px;
  flex: 1;
}

.grids_elementos{
  flex: 1;
  justify-content: space-around;
}

.container_contatos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 70px;
  border-radius: 20px;
  border: #2c3e50;
  gap: 15px;
  font-weight: 100;
  padding: 40px;
}

.contato img{
  width: 20px;
}

section a{
  text-decoration: none;
}

.contato:hover{
  background-color: #333;
  color: #fff;
}

.telefone{
  margin: 20px ;
  font-size: 20px;
  color: #333;
  padding: 15px;
}

.telefone:hover{
  background-color: #2c3e50;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 600px){

  .grids{
    margin: 5%;
}

  .grids_elementos{
    display: flex;
    flex-wrap: wrap;
  }
  .grids_item{
    width: 80px;
    height: 80px;
  }
  .top_img{
    width: 240px;
    height: 80px;
  }

  .palms{
    flex: 1;
    height: 360px;
  }

  h1{
    font-size: 40px;
  }

}
