/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@500&display=swap');

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow-x: hidden;
}

/* Estilos para la sección "Sobre mim" */
#pag1 p {
  width: 600px;
  font-size: 30px;
}

.texto-h2 {
  display: flex;
}

.texto {
  position: relative;
  right: 60px;
  bottom: 10px;
}

.pag1-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 40px;
  font-weight: 100;
}

/* Estilos para la sección "Trabalhos" */
.container {
  width: 960px;
  margin: auto;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 60px;
}

.bg1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

#pag1 {
  display: flex;
  align-items: center;
  height: 60vh;
}

#pag1 article {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #d4af3763;
  border-radius: 100%;
  position: relative;
}

.botao {
  color: white;
  padding: 10px;
  font-size: 20px;
  border: 30px;
  margin: 50px auto;
  border-radius: 20px;
  outline: 1px solid white;
  background-color: rgba(0, 255, 255, 0);
}

.botao:hover {

  background-color: #d4af37;
  color: black;
  outline: 1px solid rgba(255, 255, 255, 0);
}

.menu {
  display: flex;
  justify-content: end;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu div {
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
}

.menu div:first-child {
  margin: 60px 0 0 0;
}

.menu div:last-child {
  margin: 60px 0 0 0;
}

.menu > div:hover {
  background-color: #00000057;
  color: #dacb9da0;
  border-radius: 30px;
  padding: 10px;
}

#pag2 {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url(imagens/bg2.png);
  background-position: center;
}

.pag2-trabalhos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pag2-trabalhos--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.pag2-trabalhos--item:hover {
  color: #d4af37;
  transition: 0.2s;
}

.pag2-trabalhos--item > img {
  max-width: 300px;
}

.pag2-trabalhos--thumb {
  width: 300px;
}

.widget-trabalho {
  z-index: 1;
  display: none;
  flex-direction: column;
  position: absolute;
  margin: auto;
  width: 960px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.988);
}

.widget-trabalho--top {
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 40px;
}

.widget-trabalho--left {
  display: flex;
  max-width: 300px;
  min-width: 200px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget-trabalho--left video {
  max-width: 300px;
  min-width: 200px;

}

.widget-trabalho p {
  margin-top: 40px;
}

.widget-trabalho--bottom {
  position: relative;
  margin: auto;
  outline: 1px solid rgba(255, 255, 255, 0.163);
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}

.widget-trabalho--bottom:hover {
  background-color: rgb(141, 141, 141);
}

.widget-trabalho--video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-trabalho--video video {
  max-width: 500px;
}

.footer-icons {
  display: flex;
  margin: 40px;
  justify-content: center;
  gap: 20px;
}

.footer-icon {
  width: 30px;
}

.footer-atalhos {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.68);
}

.footer-atalhos a {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.68);
  text-decoration: none;
}

.footer-atalhos a:hover {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  color: rgba(255, 255, 0, 0.68);
  text-decoration: none;
}

.footer-copy {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 12px;
  font-weight: 200;
  color: rgba(215, 215, 215, 0.68);
}

@media (max-width: 960px) {
  .widget-trabalho {

    width: 650px;
    height: 100vh;
  }
  .container {
    max-width: 700px;
  }

  #pag1 p {
    font-size: 20px;
    width: 400px;
  }

  .pag1-left img {
    width: 250px;
  }

  .pag1-left {
    font-size: 25px;
    justify-content: center;
  }

  .pag2-trabalhos {
    flex-direction: column;
    gap: 80px;
  }

  .pag2-trabalhos--item video {
    width: 300px;
  }
  .widget-trabalho--top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .widget-trabalho--top p{
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .container {
    width: calc(100vw - 30px);
  }

  .botao{
    width: 130px;
    font-size: 14px;
  }

  .menu {
    justify-content: center;
  }

  .menu a {
    font-size: 20px;
  }

  .bg1 {
    width: 300%;
  }



  #pag1 .container {
    flex-direction: column;
    align-items: center;
  }

  #pag1 h2 {
    right: 40px;
    font-size: 40px;
    font-size: 50px;
  }

  #pag1   .circle {
    width: 60px;
    height: 60px;
    background-color: #b78f0f;
  }

  .circle {
    width: 40px;
    height: 40px;
    background-color: #b78f0f;
  }

  #pag1 p {
    font-size: 16px;
  }

  .pag1-left img {
    width: calc(100vw - 300px);
    
  }

  .pag1-left {
    font-size: 20px;
    justify-content: center;
  }

  .pag2-trabalhos {
    width: calc(100vw - 30px);
    flex-direction: column;
    gap: 80px;
  }

  #pag2 .texto{
    margin-left: 25px;

  }

  #pag2 h2 {
    font-size: 40px;
  }

  #pag2 .circle{
    margin-left: 30px;
  }
  .widget-trabalho {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.988);
  }
  

  .widget-trabalho--top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .widget-trabalho--video video{
    width: calc(100% - 150px);
  }
}
